:root {
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --DesaturatedDarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(212, 23%, 69%);
  --LightGrayishBlue: hsl(210, 46%, 95%);
  --White: hsl(0, 100%, 100%);
  --fontsize: 13px;
  --headingsize: 16px;
  --weight500: 500;
  --weight700: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope";
  font-size: var(--fontsize);
  background-color: var(--LightGrayishBlue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

.container {
  background-color: var(--White);
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px 0;
}

.container img {
  width: 100%;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
  object-fit: cover;
}

.content {
  padding: 20px;
}

h1 {
  padding: 20px;
  font-size: var(--headingsize);
  color: var(--VeryDarkGrayishBlue);
}

p {
  padding: 0px 20px;
  color: var(--DesaturatedDarkBlue);
}

.profile {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 1rem;
  position: relative;
  z-index: 2;
}

#profile-photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: var(--weight700);
  font-size: 12px;
  color: var(--VeryDarkGrayishBlue);
}

.date {
  opacity: 0.5;
  font-size: 0.8rem;
}

#share-button {
  width: 28px;
  height: 28px;
  margin-left: 2rem;
  align-self: flex-end;
  height: auto;
  margin-top: auto;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.popup {
  position: relative;
  display: grid;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  font-weight: var(--weight100);
  background-color: var(--VeryDarkGrayishBlue);
  color: var(--LightGrayishBlue);
  width: 100%;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -50px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  margin-left: -5px;
  border-bottom: 5px;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
  }

  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .popup .popuptext {
    font-weight: var(--weight100);
    visibility: hidden;
    width: 160px;
    background-color: var(--VeryDarkGrayishBlue);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -50px;
  }

  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--VeryDarkGrayishBlue) transparent transparent transparent;
  }

  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
}
